*
  margin: 0
  border: 0
  padding: 0
  outline: 0
  box-sizing: border-box
  font-family: "Maven Pro"
  font-weight: 400
  letter-spacing: 0.125em
  font-size: 16px
  color: rgba(255,255,255,0.4)
html,body
  height: 100%
  overflow: auto
  background-color: #000
body
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: cover
  //background-image: url(../img/gradient.png), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAIAAAC0SDtlAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AMfCTMWmiRn1QAAAQtJREFUGNM1wlGO00AQBNCq6h7bIdESpJU4Adz/ZkiQKLE93cUPPD3exmVELqEhXUZ8bsuP+/Xn5+37x8oxZiwzl9IS6+XL14/1cs1QkCQ1Mq9j3Nf1ti3bCCVzYSxaMjFSGcFSHblGShrSYIzIpADsjaMsI0mllYCaNYE97ttNpChRKaUUgACAsNAWpIbKnn2+j/i23QAYMACjjWpX9Tn7PLoLmMBZddTj8f7965kG2gZAe9p79Z+T7fmafuz13uu4zm2MMp67n4dzdhEUmVSCScB4TZ9de+Go83l0xDlbb2M2s+0kU1pCW8QWDHK23+U27XqVRTeY1BIhgQSIfwgAFvC/1UCbRhCr+BeS/5O9eI9AogAAAABJRU5ErkJggg==)

